.card-container {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), to(#F8DBA8));
    padding: 5px 10px;
    margin: 12px 17px;
    border-radius: 10px;
    font-family: Balsamiq, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 100;
    width: 41.3%;
    height: 25vh;
    float: left;
    transition: ease-in-out 0.7s;
    display: flex;
    margin-left: 25px;
}

.card-container:hover {
    transform: scale(1.1);
}

.card-container p {
    font-size: 18px;
    padding: 2px 3px;
    text-align: center;
    justify-content: center;
    background-color: #FAC2BB;
    border-radius: 5px;
    height: auto;
    width: 325px;
    transition: ease-in-out 0.7s;
}

.card-container p:hover {
    background-color: #B8F0E2;
}

.card-container a {
    color: #000;
}

.desafios-posts {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 350px;
    border-radius: 5px;
}