.container-parent {
  height: 92vh;
  margin: 2% 3%;
  width: 30%;
  border-radius: 30px;
  position: absolute;
  align-items: center;
  overflow: hidden;
  border-right: 3px solid #F8A096;
  border-left: 3px solid #F8A096;
  transition: all 3s ease-in-out;
}

.container-child {
  background-image: url("../../assets/images/sidebar/background.jpg");
  filter: saturate(0.5);
  transition: all 3s ease-in-out;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container-parent:hover {
  border-right: 3px solid #e6e6e6;
  border-left: 3px solid #e6e6e6;
  transition: all 3s ease-in-out;
}

.container-parent:hover .container-child,
.container-parent:focus .container-child,
.container-parent:hover .container-child:not(.profile-box) {
  transform: scale(1.5);
  filter: saturate(0.2);
}

.profile-box {
  background-color: rgba(255, 255, 255, 0.1);
  height: 30%;
  width: 20%;
  margin: auto;
  margin-top: 9%;
  margin-left: 7%;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  padding: 20px;
  padding-top: 70px;
  transition: all 3s ease-in-out;
  border-top: #fff solid 2px;
  border-bottom: #fff solid 3px;
}

.profile-box:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.box-image-parent {
  margin-top: 4.5%;
  margin-left: 14%;
  width: 7rem;
  height: 7.20rem;
  border-radius:100px;
  border: #dedede 3px solid;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.box-image-child {
  background-image: url("../../assets/images/sidebar/profile.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 5s ease-in-out;
}

.box-image-child:hover {
  transform: scale(1.197);
  filter: saturate(0) !important;
}

.profile-header {
  background-color : rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 3px;
}

.profile-name {
  font-family: Bebas, Arial, sans-serif;
  font-size: 23px;
  color: #f8a096;
}

.profile-info {
  font-size: 15px;
  color: #e5e5e5;
}

.profile-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
}

.profile-status {
  margin-top: 12px;
  padding: 4px;
  background-color : #9ee1d0;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.nav-container {
  width: 17.50rem;
  height: 2.50rem;
  margin: 440px 8%;
  position: absolute;
  background-color:#f2c26e;
  border-radius: 5px;
  align-items: center;
  padding-top: 15px;

}

.menuItem {
  color: #333333;
  font-size: 14px;
  padding: 0px 10px;
  align-items: center;
  font-weight: bold;
  transition: ease-in-out 1s;
}

.menuItem:hover {
  background-color: #fac2bb;
  border-radius: 2px;
  padding: 25px 10px;
}

.socialMedia-container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 20%;
  height: 13vh;
  border-radius: 5px;
  position: absolute;
  margin-top: 32.5rem;
  margin-left: 7rem;
}

.linkedin-icon {
  margin: 0.70rem 1.25rem;
  width:3rem;
  position: absolute;
  opacity: 0.3;
  transition: all 2s ease-in-out;
}

.github-icon {
  margin: 0.70rem 1.25rem;
  width:3rem;
  position: absolute;
  opacity: 0.3;
  transition: all 2s ease-in-out;
}

.gmail-icon {
  margin: 0.70rem 1.25rem;
  width:3rem;
  position: absolute;
  opacity: 0.3;
  transition: all 2s ease-in-out;
}

.linkedin-icon:hover {
  opacity: 0.8;
}

.github-icon:hover {
  opacity: 0.8;
}

.gmail-icon:hover {
  opacity: 0.8;
}

.linkedin-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 135px;
  margin-top: 585px;
  position: absolute;
}

.github-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  margin-left: 222px;
  margin-top: 585px;
  position: absolute;
}

.gmail-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  margin-left: 315px;
  margin-top: 585px;
  position: absolute;
}

.linkedin-container {
  width: 90px;
  height: 13vh;
  transition: all 1s ease-in-out;
  position: absolute;
}

.linkedin-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.github-container {
  width: 90px;
  height: 13vh;
  transition: all 1s ease-in-out;
  margin-left: 85px;
  position: absolute;
}

.github-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.gmail-container {
  width: 90px;
  height: 13vh;
  transition: all 1s ease-in-out;
  margin-left: 175px;
  position: absolute;
}

.gmail-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media (max-width: 890px) {
  .container-parent {
    margin: 0;
    height: 50vh;
    width: 100vw;
    border: none;
    border-radius: 0;
    border-bottom: 7px solid #F8A096;
    filter: saturate(1);
  }

  .profile-box {
    margin-top: 5%;
    margin-left: 20%;
    height: 20vh;
    width: 65vw;
    justify-content: right;
    border: none;
  }

  .box-image-parent {
    margin-top: 25%;
    margin-left: 7%;
    width: 5rem;
    height: 5.20rem;
  }

  .profile-header {
    background-color : #f8a096;
    border-radius: 5px;
    padding: 3px;
    margin-top: -23%;
  }
  
  .profile-name {
    font-family: Bebas, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
  }
  
  .profile-info {
    font-size: 13px;
    color: #e5e5e5;
  }
  
  .profile-text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-weight: 500;
  }
  
  .profile-status {
    margin-top: 12px;
    padding: 4px;
    background-color : #9ee1d0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
}